.container{
    background-color: black;
    color: white;
    height:500px;
    width:80%;
    
    margin: 50px auto 75px;
    border-radius: 10px;

}
body{
    font-family: 'Poppins', sans-serif;
}

.header-detail{
    display: flex;
    justify-content: center;
}
.header-detail ,.child-div {
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}
.button:hover{
    background-color: goldenrod;
}
.button{
    background-color: red;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    height:35px;
    width: 120px;
    position: relative;
    animation-name:button;
    animation-duration:2s;
    animation-iteration-count:2;
    animation-fill-mode: alternate;
    animation-timing-function: ease-in-out;
    animation-delay:2s;

}
@keyframes button {
    0%{
        top:0px;
        left: 0px;
    }
    25%{
        top:60px;
        left: 0px;
    }
    75%{
        top:60px;
        left: 60px;
    }
    100%{
        top: 0px;
        left: 60px;
    }
    
}
.nav{
background-color: black;
}
ul{
    border-radius: 4px;
    list-style: none;
    background-color:white;
    padding: 10px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    justify-content: center;
    
}
li a{
    text-align: center;
    color: black;
    width: 100px;
    padding: 8px 16px;
    text-decoration: none;
}
.icon-item{
    display: inline;
}
.chat{
margin: 0px;
}
.article{
    display: flex;
    gap:100px;

}
.list-item{
   border-radius: 8px;
    background-color: black;
    height: 300px;
min-width: 260px;
}
.blog-side{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.icon-text {
    display: inline-flex;
    align-items: center;
}

.icon-text img {
    margin-right: 5px;
}
.background{
    margin: 0px;
    background-color: bisque;
    border-radius: 6px;
    width: 273px;
}
.background img{
    width: 100%;
}
.my-button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.my-button button {
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: red;
    padding: 14px;
    height:35px ;
    width: 125px;
}
footer{
    background-color: black;
    color: white;
}
.goal{
    text-align: center;
}
.my-footer{
    height: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 35px;
    gap: 20px;
}
.hr{
    margin: 0 100px;
}

@media screen and (max-width: 800px) {
    .my-button {
        display: none;
    }
    .my-footer{
        flex-direction: column;
    }


}